<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LabRoomFinder Bootstrap</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-Dark-icons.css">
</head>

<body style="padding-top: 0;padding-bottom: 0;">
    <div class="container-fluid d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center"
        style="background: var(--bs-black);padding: 0;height: 72px;padding-bottom: 0px;margin-bottom: 10px;">
        <div class="row">
            <div class="col">
                <h1><span style="color: var(--bs-white);">CECS Lab Room Availability</span></h1>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col offset-lg-0 text-center d-lg-flex justify-content-lg-center align-items-lg-center"
                style="margin-bottom: 10px;">
                <input class="form-control-lg" id="dateInput" type="datetime-local" style="margin-bottom: 0px;"
                    value=<%=current_date %>>
                <button class="btn btn-dark btn-lg" id="button" type="submit" style="margin-left: 6px;">Find
                    Classrooms</button>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <ol class="list-group text-center" id="classList">
                    <li class="list-group-item"><span>List Group Item 1</span></li>
                </ol>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/date_input.js"></script>
</body>

</html>