<%- include('../partials/_header') %>
    
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto justify-content-center">
                    <p>Hello World</p>
                </div>
            </div>
        </div>
    </body>
</html>